### Secret Santa Game

In [1]:
# Required dependecies 

import pandas as pd
import os

In [2]:
# Using this package we are able to do some activities in excel

!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\divya s\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\divya s\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
# Reading the excel file using pandas in-built function

df = pd.read_excel("Employee-List.xlsx")

In [5]:
# Getting top 20 rows using the function

df.head(20)

       Employee_Name           Employee_EmailID
0      Hamish Murray     hamish.murray@acme.com
1       Layla Graham      layla.graham@acme.com
2       Matthew King      matthew.king@acme.com
3   Benjamin Collins  benjamin.collins@acme.com
4     Isabella Scott    isabella.scott@acme.com
5       Charlie Ross      charlie.ross@acme.com
6      Hamish Murray  hamish.murray.sr@acme.com
7      Piper Stewart     piper.stewart@acme.com
8      Spencer Allen     spencer.allen@acme.com
9     Charlie Wright    charlie.wright@acme.com
10     Hamish Murray  hamish.murray.jr@acme.com
11      Charlie Ross   charlie.ross.jr@acme.com
12      Ethan Murray      ethan.murray@acme.com
13      Matthew King   matthew.king.jr@acme.com
14     Mark Lawrence     mark.lawrence@acme.com

In [6]:
"""
    Function to assign the secret santa and to generate the output excel with the assigned secret santa data

    Args: df --> Excel data as dataframe
"""
def assigning_secret_santa(df):
    givers = df.copy()
    receivers = df.sample(frac=1).reset_index(drop=True)     # Shuffling the receivers
    
    # Looping the data to getting the same user as a secret santa
    while any(givers.iloc[i]["Employee_Name"] == receivers.iloc[i]["Employee_Name"] for i in range(len(givers))):
        receivers = df.sample(frac=1).reset_index(drop=True) 
    
    # Creating a new column for the secret child and for the email.
    givers["Secret_Child_Name"] = receivers["Employee_Name"]
    givers["Secret_Child_EmailID"] = receivers["Employee_EmailID"]

    # Creating a output file to get the excel file as response
    output_path = 'Secret-Santa-Game-Result-2025.xlsx'
    if os.path.exists(output_path):
        print(f"File '{output_path}' already exists. It will be overwritten.")
        
    try:
        givers.to_excel(output_path, index=False) # Generating the excel file named output.xlsx using the givers dataframe.
        print("Excel file saved to:", os.path.abspath(output_path))
    except Exception as e:
        print(f"Failed to save Excel file: {e}")
        raise

In [7]:
# Calling the function to get the output

assigning_secret_santa(df)

Excel file saved to: D:\Interview-questions\Digitalx\answer\Secret-Santa-Game-Result-2025.xlsx

In [8]:
# Kindly open the file in excel. Thank you!!!